// Accoutrement Fonts
// ==================


// Font Specimen
// -------------
/// Return a map of font-families, variants, and sizes
/// for use in creating a font-specimen.
@function font-specimen(
  $fonts,
  $sizes
) {
  @if not variable-exists('_font-style-options') {
    @error 'Font-specimen requires `accoutrement-type`.';
  }

  $var-options: join($_font-style-options, $_font-weight-options);
  $var-options: join($var-options, ('normal', 'regular'));
  $return: ();

  @if type-of($sizes) == 'map' {
    $sizes: map-keys($sizes);
  }

  @each $type, $value in $fonts {
    $name: map-get($value, 'name');
    $stack: map-get($value, 'stack');
    $source: map-get($value, 'source');
    $faces: ();
    $scale: ();

    @each $face, $file in $value {
      @if index($var-options, nth($face, 1)) {
        $string: null;

        @each $part in $face {
          $string: if($string, '#{$string} #{$part}', $part);
        }
        $faces: append($faces, $string);
      }
    }

    $faces: if(
      length($faces) > 0,
      $faces,
      ('regular', 'bold', 'italic', 'bold italic')
    );

    @each $size in $sizes {
      $px: $size;

      @if function-exists('size') {
        $px: size($px, 'px');
      } @else if (type-of($px) != 'number') {
        @warn 'Import `accoutrement-scale` in order to compile keyword sizes.';
      }

      $scale: map-merge($scale, ($size: $px));
    }

    $return: map-merge($return, (
        $type: (
          'name': $name,
          'stack': $stack,
          'source': $source,
          'faces': $faces,
          'scale': $scale,
        )
      )
    );
  }

  @return $return;
}


// Font Specimen [mixin]
// ---------------------
@mixin font-specimen(
  $fonts: $fonts,
  $sizes: $sizes
) {
  @each $font, $details in $fonts {
    [data-sassdoc-font='#{$font}'] {
      @include font-family($font);
    }
  }

  @each $size in map-keys($text-sizes) {
    [data-specimen-size='#{$size}'] {
      @include font-size($size);
    }
  }
}
