// Maps
// ====


// Map Compile
// -----------
/// Get output values from a sass map,
/// using any function for compilation.
/// @throws -
///   Escaping quotes requires the `accoutrement-strings` package
///   to be installed and imported.
@function map-compile(
  $map,
  $function: null
) {
  $output: ();

  @each $name, $value in $map {
    @if $function and function-exists($function) {
      $value: call($function, $name);
    }

    $value: inspect($value);

    @if str-index($value, '"') {
      @if function-exists('str-replace') {
        $value: str-replace($value, '"', '\\"', true);
      } @else {
        @warn 'Import `accoutrement-strings` in order to escape `"` characters.';
      }
    }

    $output: map-merge($output, ($name: $value));
  }

  @return $output;
}
